.list-element-container{
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    background-color: gray;
    /* height: 3em; */
    padding: 1em;
    gap: 3em;
}

.one-liner-container{
    width: 70%;
    text-align: left;
}

.icons-container{
    display: flex;
    gap: 1em;
    
}

.ping{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: cornflowerblue;
    
}
.get{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: cornflowerblue;
}
.status{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: cornflowerblue;
}