.header-container{
    display: flex;
    flex-direction: column;
    height: 30vh;
    align-items: center;
    justify-content: space-around;
    /* gap: 5vh; */
    
}

h1{
    background-color: rgba(0, 0, 0, 0.321);
    width: 100vw;
    line-height: 10vh;
    color: white;
    font-size: 3em;
    opacity: 1;
    animation: appear ease-in 2s 0s;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 0px 4px -26px rgba(158,158,158,0.4); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 0px 4px -26px rgba(158,158,158,0.4);
}

@keyframes appear{
    0% {opacity: 0}
    100%{opacity: 1}
}

.header-container p{
    width: 40vw;
    color: white;
    font-size: 1.5em;
    
    padding: 10px;
   
    
}

