.header-container{
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
    gap: 3vh;
    
}

h1{
    background-color: rgba(0, 0, 0, 0.321);
    width: 100vw;
    line-height: 10vh;
    color: white;
    font-size: 3em;
}

.header-container p{
    width: 60vw;
    color: white;
}