*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

    /* CSS HEX */
  --blue-bell: #a7a5c6ff;
  --cool-grey: #8797b2ff;
  --light-slate-gray: #6d8a96ff;
  --dark-electric-blue: #5d707fff;
  --sky-blue-crayola: #66ced6ff;

  /* SCSS Gradient */
  --gradient-top: linear-gradient(0deg, #a7a5c6ff, #8797b2ff, #6d8a96ff, #5d707fff, #66ced6ff);
  --gradient-right: linear-gradient(90deg, #a7a5c6ff, #8797b2ff, #6d8a96ff, #5d707fff, #66ced6ff);
  --gradient-bottom: linear-gradient(180deg, #a7a5c6ff, #8797b2ff, #6d8a96ff, #5d707fff, #66ced6ff);
  --gradient-left: linear-gradient(270deg, #a7a5c6ff, #8797b2ff, #6d8a96ff, #5d707fff, #66ced6ff);
  --gradient-top-right: linear-gradient(45deg, #a7a5c6ff, #8797b2ff, #6d8a96ff, #5d707fff, #66ced6ff);
  --gradient-bottom-right: linear-gradient(135deg, #a7a5c6ff, #8797b2ff, #6d8a96ff, #5d707fff, #66ced6ff);
  --gradient-top-left: linear-gradient(225deg, #a7a5c6ff, #8797b2ff, #6d8a96ff, #5d707fff, #66ced6ff);
  --gradient-bottom-left: linear-gradient(315deg, #a7a5c6ff, #8797b2ff, #6d8a96ff, #5d707fff, #66ced6ff);
  --gradient-radial: radial-gradient(#a7a5c6ff, #8797b2ff, #6d8a96ff, #5d707fff, #66ced6ff);
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--gradient-top);
}

.add-container{
  display: flex;
  width: 60vw;
  justify-content: space-between;


}

.inputs-container{
  width: 65%;
}

.add-button-container{
  width: 25%;
  height: 100%;
  align-self: center;
}

.add-and-list-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}