*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.add-container{
  display: flex;
  width: 60vw;
  justify-content: space-between;


}

.inputs-container{
  width: 65%;
}

.add-button-container{
  width: 25%;
  height: 100%;
  align-self: center;
}

.add-and-list-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}